// Let's get that Rust tool staaaaaack 🦀
default_shell "nu"
// Meowsome theme 🐈
theme "catppuccin-frappe"
// I don't need all those fancy arrows and other stuff 🔁
simplified_ui true
// Let's reduce the number of key mapping collisions 😖
default_mode "locked"
// Helix is really the best 👏
scrollback_editor "/opt/homebrew/bin/hx"

keybinds clear-defaults=true {
    locked {
        bind "Ctrl g" { SwitchToMode "Normal"; }
        // Switch back-and-forth between the last and current tabs.
        bind "Ctrl Tab" { ToggleTab; SwitchToMode "Locked"; }
    }
    normal {
        // Submodes access.
        bind "p" { SwitchToMode "Pane"; }
        bind "r" { SwitchToMode "Resize"; }
        bind "s" { SwitchToMode "Session"; }
        // Mnemonic for "Scroll[b]ack".
        bind "b" { SwitchToMode "Scroll"; }
        bind "t" { SwitchToMode "Tab"; }
        bind "m" { SwitchToMode "Move"; }
        // Pane and tab creation/closing.
        // "[C]reate tab".
        bind "c" { NewTab; SwitchToMode "Locked"; }
        // "[N]ew pane".
        bind "n" { NewPane "Right"; SwitchToMode "Locked"; }
        bind "N" { NewPane "Down"; SwitchToMode "Locked"; }
        // "[F]loating pane"
        bind "f" { ToggleFloatingPanes; SwitchToMode "Locked"; }
        // "[Q]uit" pane/tab.
        bind "q" { CloseFocus; SwitchToMode "Locked"; }
        bind "Q" { CloseTab; SwitchToMode "Locked"; }
        // Quick tabs access.
        bind "1" { GoToTab 1; SwitchToMode "Locked"; }
        bind "2" { GoToTab 2; SwitchToMode "Locked"; }
        bind "3" { GoToTab 3; SwitchToMode "Locked"; }
        bind "4" { GoToTab 4; SwitchToMode "Locked"; }
        bind "5" { GoToTab 5; SwitchToMode "Locked"; }
        bind "6" { GoToTab 6; SwitchToMode "Locked"; }
        bind "7" { GoToTab 7; SwitchToMode "Locked"; }
        bind "8" { GoToTab 8; SwitchToMode "Locked"; }
        bind "9" { GoToTab 9; SwitchToMode "Locked"; }
        // Quick pane switching.
        bind "h" { MoveFocus "Left"; SwitchToMode "Locked"; }
        bind "l" { MoveFocus "Right"; SwitchToMode "Locked"; }
        bind "j" { MoveFocus "Down"; SwitchToMode "Locked"; }
        bind "k" { MoveFocus "Up"; SwitchToMode "Locked"; }
    }
    shared_except "locked" {
        bind "Esc" { SwitchToMode "Locked"; }
    }
    shared_except "locked" "normal" {
        bind "Esc" { SwitchToMode "Normal"; }
    }
    resize {
        bind "h" { Resize "Increase Left"; }
        bind "j" { Resize "Increase Down"; }
        bind "k" { Resize "Increase Up"; }
        bind "l" { Resize "Increase Right"; }
        bind "H" { Resize "Decrease Left"; }
        bind "J" { Resize "Decrease Down"; }
        bind "K" { Resize "Decrease Up"; }
        bind "L" { Resize "Decrease Right"; }
    }
    pane {
        bind "h" { MoveFocus "Left"; }
        bind "l" { MoveFocus "Right"; }
        bind "j" { MoveFocus "Down"; }
        bind "k" { MoveFocus "Up"; }
        bind "[" { PreviousSwapLayout; }
        bind "]" { NextSwapLayout; }
        bind "q" { CloseFocus; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "Locked"; }
        bind "z" { TogglePaneFrames; SwitchToMode "Locked"; }
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "Locked"; }
        bind "r" { SwitchToMode "RenamePane"; PaneNameInput 0;}
    }
    move {
        bind "n" { MovePane; }
        bind "p" { MovePaneBackwards; }
        bind "h" { MovePane "Left"; }
        bind "j" { MovePane "Down"; }
        bind "k" { MovePane "Up"; }
        bind "l" { MovePane "Right"; }
    }
    tab {
        bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "h" { GoToPreviousTab; }
        bind "l" { GoToNextTab; }
        bind "H" { MoveTab "Left"; }
        bind "L" { MoveTab "Right"; }
        bind "q" { CloseTab; }
        bind "s" { ToggleActiveSyncTab; SwitchToMode "Locked"; }
        bind "b" { BreakPane; SwitchToMode "Locked"; }
        bind "]" { BreakPaneRight; SwitchToMode "Locked"; }
        bind "[" { BreakPaneLeft; SwitchToMode "Locked"; }
    }
    scroll {
        bind "e" { EditScrollback; SwitchToMode "Locked"; }
        bind "/" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "Locked"; }
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
        bind "Ctrl f" { PageScrollDown; }
        bind "Ctrl b" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
    }
    search {
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "Locked"; }
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
        bind "Ctrl f" { PageScrollDown; }
        bind "Ctrl b" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "n" { Search "down"; }
        bind "p" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }
    entersearch {
        bind "Enter" { SwitchToMode "Search"; }
        bind "Esc" { SwitchToMode "Scroll"; }
    }
    renametab {
        bind "Enter" { SwitchToMode "Locked"; }
        bind "Esc" { UndoRenameTab; SwitchToMode "Tab"; }
    }
    renamepane {
        bind "Enter" { SwitchToMode "Locked"; }
        bind "Esc" { UndoRenamePane; SwitchToMode "Pane"; }
    }
    session {
        bind "Ctrl q" { Quit; }
        bind "d" { Detach; }
        bind "w" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Locked"
        }
        bind "c" {
            LaunchOrFocusPlugin "configuration" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Locked"
        }
        bind "p" {
            LaunchOrFocusPlugin "plugin-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Locked"
        }
    }
}

plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    filepicker location="zellij:strider" {
        cwd "/Users"
    }
    configuration location="zellij:configuration"
    plugin-manager location="zellij:plugin-manager"
}
